div {
	display: flex;
}

div#dashboard {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

div.node {
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	margin-right: 10px;
}

div.contents {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 5px;
}

div.children {
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	border-left: 5px solid black;
	padding-left: 10px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	padding-bottom: 10px;
}

div.children-column {
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border-left: 5px solid black;
	padding-left: 10px;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	padding-bottom: 10px;
}