@import url('normalize.css');
@import url('bootstrap.min.css');

@font-face {
    font-family: 'League Spartan';
    src: url('fonts/spartan/leaguespartan-bold.eot');
    src: url('fonts/spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/spartan/leaguespartan-bold.woff2') format('woff2'),
         url('fonts/spartan/leaguespartan-bold.woff') format('woff'),
         url('fonts/spartan/leaguespartan-bold.ttf') format('truetype'),
         url('fonts/spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/raleway/webfonts/raleway_thin-webfont.eot');
    src: url('fonts/raleway/webfonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway/webfonts/raleway_thin-webfont.woff') format('woff'),
         url('fonts/raleway/webfonts/raleway_thin-webfont.ttf') format('truetype'),
         url('fonts/raleway/webfonts/raleway_thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Goudy';
    src: url('fonts/goudy/webfonts/goudy_bookletter_1911-webfont.eot');
    src: url('fonts/goudy/webfonts/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/goudy/webfonts/goudy_bookletter_1911-webfont.woff') format('woff'),
         url('fonts/goudy/webfonts/goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('fonts/goudy/webfonts/goudy_bookletter_1911-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'League Spartan', sans-serif;
}

.node {
    background: white;
}

.modal-dialog {
    padding-top: 100px;
}

week {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}


div.appArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

collapsedweek, .listelement {
    cursor: pointer;
}

fullweek {
    border: 2px solid black;
    display: block;
    margin: 20px 0px;
/*     padding: 20px; */
/*     width: 1500px; */
}

fullweek > children {
    flex-direction: row;
}

children {
    padding: 10px;

    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

/*     width: 100%; */
}

form {
    border-bottom: 1px solid hsla(0,0%,80%,1);
}

fullweek > children > list, fullweek > children > announcements {
    min-width: 300px;
    margin: 20px 10px;
    border: 1px solid black;
}

fullweek > h1 {
/*     margin-left: 20px; */
    text-align:center;
    width: 100%;
    margin-bottom: -15px;
    cursor: pointer;
}

list, announcements{
/*     display: inline-block; */
    display: block;
/*     border: 1px solid red; */
    padding: 0px 10px;
}

announcements {
    padding-top: 10px;
}


.contents, contents {
    width: 100%;
}


h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

.listelement {
    display: block;
    border-bottom: 1px dotted black;
}

.listelement:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: hsla(215, 100%, 43%, 1);
}

.modal-content children {
    width: 100%;
}
