@import url('../css/fonts/Bariol Bold Webfont/stylesheet.css');
@import url('../css/fonts/Bariol Light Webfont/stylesheet.css');
@import url('../css/fonts/Bariol Regular Webfont/stylesheet.css');
@import url('../css/fonts/Bariol Thin Webfont/stylesheet.css');

body {
    padding: 50px;
    font-family: 'bariol_regularregular', sans-serif;
}

form {
/*     padding: 50px; */
}

.topic, .assignment, .resource {
    padding: 50px;
}

.topic, .assignment {
    margin: 0px 20px;
/*     padding: 20px; */
}

.resource, .assignment {
    width: 300px;
    height: 230px;
    border: 2px solid red;
}

.topic {
    border: 2px solid blue;
    margin: 0px 20px;
    padding: 20px;
}

.resource {
    margin: 20px 0px;
}

.resource:first-child, .assignment:first-child, .topic:first-child {
    margin-left: 0px;
    border-radius: 5px;
}

.resources > div.controls > div > ul, .assignments > div.controls > div > ul, .topics > div.controls > div > ul {
    display: flex;

    margin-left: 0px;
}

.assignments > div.controls > div > ul, .topics > div.controls > div > ul{
    flex-direction: row;
}

.resources > div.controls > div > ul {
    flex-direction: column;
}

.dateRangeInput > div, .courseDetails > div {
    display: inline-block;
    margin-right: 20px
}

ul {
    /* margin: 0px; */
}

.week {
    border: 2px solid green;
    border-radius: 10px;
    padding: 30px;
}


legend, label.control-label, span.help-inline {
    font-family: 'bariol_boldbold', sans-serif;
    
}

legend {
    font-size: 30px;
}

label.control-label {
    font-size:  25px;
    margin-top: 30px;
}

ul.nav.nav-tabs {
    font-size: 20px;
}

span.help-inline {
    font-family: 'bariol_regularregular', sans-serif;
    font-size: 20px;
}