{% if message %}
<h2> {{message}} </h2>
{%endif%}
<h1> Create a Node </h1>
<form action="/nodes" method=post>
  <dd><input type="hidden" name="_method" value="put" />
  <dl>
    <dt>Node Content:
    <textarea name=contents rows=5 cols=40></textarea>
    <dt>Node Renderer:
    <dd><input type=text size=30 name=renderer>
    <dd><input type=submit value=Share>
  </dl>
</form>

<h1> Create a Link </h1>
<form action="/nodeLinks" method=post>
  <input type="hidden" name="_method" value="put" />
  <dl>
    <dt>Link Name:
    <dd><input type=text size=30 name=name>
    <dt>Origin Node ID:
    <dd><input type=text size=30 name=origin>
    <dt>Destination Node ID:
    <dd><input type=text size=30 name=dest>
    <dd><input type=submit value=Share>
  </dl>
</form>


